<main>

  <section class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between bg-light w-100">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light gradient-text text-shadow mt-4">Découvrez des événements extraordinaires</h1>
          <p class="lead text-muted">Orkestre vous connecte aux meilleurs événements culturels, concerts, conférences et
            événements sportifs près de chez vous.</p>
          <p>
            <a href="#" class="btn btn-primary btn-explore my-4 me-2" routerLink="/ShowAllEvenements"><i class="bi bi-search"></i> Explorer les événements</a>
            <a href="#" class="btn btn-secondary btn-create my-2" routerLink="/createEvenement"><i class="bi bi-calendar4"></i> Créer un événement</a>
          </p>
        </div>
      </div>
    </div>
  </section>

 <app-orkestre-presentation></app-orkestre-presentation>

</main>