<!-- Modal to delete profile -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel"><i class="bi bi-danger bi-trash3-fill text-danger"></i> Supprimer définitivement mon compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
        <p><i class="bi bi-exclamation-triangle-fill text-warning"></i> Cette action est irréversible.</p>
        <p>En supprimant votre compte :</p>
        <ul>
            <li>Tous vos événements seront supprimés</li>
            <li>Votre profil sera supprimé</li>
            <li>Toutes vos données personnelles seront effacées</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteProfile() "class="btn btn-danger" data-bs-dismiss="modal">Je comprends, supprimer mon compte définitivement</button>
      </div>
    </div>
  </div>
</div>
