<!-- Card evenement -->
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col d-flex" *ngFor="let evenement of evenementList">
        <div class="card shadow-sm border-0 card-hover h-100 d-flex flex-column w-100">

          <!-- Top Section -->
          <div class="card-img-top position-relative text-white">
            <div class="position-absolute top-0 start-0 m-3">
              <span class="badge bg-light text-dark rounded-pill px-3 py-2">
                {{ evenement.category }}
              </span>
            </div>
            <div class="position-absolute top-0 end-0 m-3">
              <span class="badge bg-light text-dark rounded-pill px-3 py-2 fw-bold">
                {{ evenement.price }}€
              </span>
            </div>
            <div>
            </div>
            <div class="position-absolute bottom-0 start-0 m-3">
              <div class="display-4 fw-bold mb-0">{{ evenement.evenementDate | date: 'd' }}</div>
              <div class="text-uppercase">{{ evenement.evenementDate | date: 'MMMM' }}</div>
            </div>
          </div>

          <!-- Body Section -->
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary fw-bold">{{ evenement.title }}</h5>
            <p class="card-text text-muted">
              {{ evenement.description }}
            </p>

            <div class="mb-3">
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-calendar3 me-2 text-muted"></i>
                <small class="text-muted">{{ evenement.evenementDate | date: 'dd/MM/yyyy' }}</small>
              </div>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-clock me-2 text-muted"></i>
                <small class="text-muted">{{ evenement.evenementDate | date: 'HH:mm' }}</small>
              </div>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-geo-alt me-2 text-muted"></i>
                <small class="text-muted">{{ evenement.location }}</small>
              </div>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-people me-2 text-muted"></i>
                <small class="text-muted">{{evenement.countParticipants}} / {{ evenement.maxCapacity }}
                  participants</small>
              </div>
              <div class="d-flex align-items-center">
                <i class="bi bi-file-person me-2 text-muted"></i>
                <small class="text-muted">Organisé par : {{ evenement.organizer.firstName }} {{
                  evenement.organizer.lastName }}</small>
              </div>
              <div class="mt-3 d-flex justify-content-end gap-2">

              <button *ngIf="isOwner()"(click)="selectEvent(evenement)"
                      class="btn btn-social text-white me-2" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancel"><i class="bi bi-trash-fill"></i> Annuler l'événement
              </button>

              <button *ngIf="!isOwner()" (click)="selectEvent(evenement)"
                      class="btn btn-social text-white me-2" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelRegistration"><i class="bi bi-x-circle"></i> Se désinscrire
              </button>

            </div>

            </div>

       

          </div>
        </div>
      </div>
            <app-cancel-evenement-by-organizer [evId]="selectedEvent.id"></app-cancel-evenement-by-organizer>
            <app-cancel-registration-by-participants [evenement]="selectedEvent"></app-cancel-registration-by-participants>
    </div>
  </div>
</div>